doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    title tmp
    
    script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.84/Bacon.min.js")
    script(type="text/javascript", src="http://coffeescript.org/extras/coffee-script.js")
    script(type="text/javascript", src="scripts/tmp.js")
    link(rel="stylesheet" href="styles/tmp.css")
    
    style(type="text/css")
    script(type="text/coffeescript")
    
  body
    #tmp(onClick="add()") tmp
    
    
    
    a.im(href="/noi")
    
    //-
      .part pppp
    
    
    //-
      .con
        .in int
    
    
    //-
      .a a
      .b b
      #i i
    
    //-
      .med aaa
      .rwd bbb
      .medpx ccc
      .rwdpx ddd
    
    //-
      .acc aaa
      
      
      a.modal(href="#modal") modmod
      .emo emo
      
      .li: a(href="#") a
      .li: a(href="http://yahoo.co.jp") b
      .li: a(href="https://yahoo.co.jp") c
      .box box
      
      .sec sec
    
    
    
    
    
    
    //- bacon.js2
      #up up
      #down down
      #counter
