doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/rickshaw/rickshaw.min.css')
    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="/d3/d3.min.js")
    script(type="text/javascript", src="/rickshaw/rickshaw.min.js")
    script(type="text/javascript", src="/javascripts/tmp.js")
    script(type="text/coffeescript").
      @rick(#{serie})

  body
    p Welcome to #{title}

    #chart
