doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="vue/dist/vue.min.js")
    script(type="text/javascript" src="javascripts/vali.js")
  body
    block content