doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="vue/dist/vue.min.js")
    script(type="text/javascript", src="xss-filters/dist/xss-filters.min.js")
    script(type="text/javascript").
      document.write('<span> ' + xssFilters.inHTMLData("abc<aa>aaa<a") + '</span><br>')
 body
    span #{xf}




