doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript').
      var s = io.connect('localhost')
  body
    p tmp
    input(type='button',value="pus",onClick="s.emit('mes','botobot')")
    p.
      kjdｓｆ
      ｌｋｊｓｄい
    
    