doctype html
html
  head
    title= title
    script(type="text/javascript", src="coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="validator-js/validator.min.js")
    script(type="text/javascript", src="vue/dist/vue.min.js")
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascript/socjson.js")
  body
    #vue
      
      br
      br
      .list(v-repeat="nai: arrjso")
        item(v-repeat="nai")
          .leaf {{$key}}
          .leaf {{$value}}
      br
      .list(v-repeat="jso")
        item {{$key}}
        item {{$value}}
      br
      .list(v-repeat="laaa")
        .item {{$value}}
