doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    title tmp
    
    //-
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/bacon.js/0.7.84/Bacon.min.js")
    script(type="text/javascript", src="http://coffeescript.org/v2/browser-compiler/coffeescript.js")
    script(type="text/javascript", src="scripts/tmp.js")
    link(rel="stylesheet" href="styles/tmp.css")
    
    style(type="text/css")
    script(type="text/coffeescript")
    
  body
    #tmp(onClick="add()") tmp
    
    h1 hls
    script(src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js")
    video#video
    script(type="text/coffeescript").
      if Hls.isSupported()
        video = document.getElementById('video')
        hls = new Hls()
        hls.loadSource('http://www.streambox.fr/playlists/test_001/stream.m3u8')
        hls.attachMedia(video)
        hls.on Hls.Events.MANIFEST_PARSED, -> video.play()




    #con ser4
    #ado
    
    //-
      #tmp2 tmp2
      | lkj
    
    
    
    
    
    //-
      a.im(href="/noi")
    
    //-
      .part pppp
    
    
    //-
      .con
        .in int
    
    
    //-
      .a a
      .b b
      #i i
    
    //-
      .med aaa
      .rwd bbb
      .medpx ccc
      .rwdpx ddd
    
    //-
      .acc aaa
      
      
      a.modal(href="#modal") modmod
      .emo emo
      
      .li: a(href="#") a
      .li: a(href="http://yahoo.co.jp") b
      .li: a(href="https://yahoo.co.jp") c
      .box box
      
      .sec sec
    
    
    
    
    
    
    //- bacon.js2
      #up up
      #down down
      #counter
