doctype html
html
  head
    meta(content="text/html" charset="utf-8")
    title tmp
    
    style(type="text/css")
    script(type="text/coffeescript")
    
  body
    form(action="./sub" method="post")
      input(type="text" name="ttt")
      //- input(type="text" name="eee")
      input(type="submit" name="sss" value="もじれつでよー" disabled)
      //- button(name="sss" value="もじれつだゑー" disabled) ぼたんです
