doctype html
html
  head
  title
    block title
      Messages
  link(rel="stylesheet" type="text/css" href="styles/main.css")
  body
    section#content
      block content
        p Forgot to add content?
