body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.table
  display table
  padding 1px
  background-color #000

.row
  display table-row

.column
  display table-cell
  background-color #eff
  text-align center



