<!DOCTYPE html><html><head><title>tmp</title>
<script type="text/javascript" src="jquery-2.0.1.min.js"></script>
<script type="text/javascript" src="jquery-ui-1.10.3.custom.min.js"></script>


<script type="text/javascript" src="knockout-2.2.1.js"></script>

<!--script type="text/javascript" src="angular.min.js"></script-->

<!--script type="text/javascript" src="ember-1.0.0-rc.5.min.js"></script-->

<!--script src="json2.js"></script>
<script src="underscore-min.js"></script>
<script src="backbone-min.js"></script-->

<script type="text/javascript" src="tmp.js"></script>

<style type="text/css"></style>
<script type="text/javascript"></script>
</head><body>
<!--
-->

<p>
  <input type="text" value="" placeholder="TODOを入力" data-bind="value: todoInputValue">
  <button data-bind="click: addTodo">追加</button>
</p>

<ul data-bind="foreach: todoList, visible: todoList().length > 0">
  <li>
    <span data-bind="text: todoText">Todo</span> - <button data-bind="click: $root.removeTodo">削除</button>
  </li>
</ul>






<!--
knockout data-bindの試し書き
<p><input type="text" data-bind="value: message, valueUpdate: 'afterkeydown'"></p>
<p id="result" data-bind="text: message">ここに入力されたテキストと同じものが入る</p>
-->


<!--
<body ng-app>
<div ng-controller="helloCtrl">
  <input type="text" ng-model="hello">
  <span>{{hello}}</span>
  <button ng-click="goodbye()">Good Byeに変更</button>
</div>
-->

<!--
<input type="text" name="yourname" value="World"><br>
<span id="yourname">Hello, {{yourname}}</span>
-->

<div id="tmp">tmp</div>

</body></html>