/*
#tmp
  color: #f00
*/



// on off
.im
  width: 50px
  height: 50px
  //background: url(/sp.png)
  display: block
  // transition-property: 
  transition: 0.5s
  // transition: 0.5s
  // transition-timing-function: ease-in-out
  opacity: 0
  
  &:hover
    // width: 100px
    opacity: 1
    background: url(/sp.png)
    //background-position: 50px


/*
sum(nums...)
  n = 0
  n += num for num in nums

@import "_part"
.part
  // background: #567
  // background: "#%sff" % sum(1,2,3,4,5)
  background: rgba(#245, .1)

.con
  background: #888
  width 80%

  .in
    background: #808
    width (@width * 0.3)
*/

/*
mod1()
  // color: #0f0
  font-style: bold

mod2()
  color: #00f


cc()
  background: arguments
  mod1()

as = #aaa

.a
  cc(as)

#i
  cc(#ccc)
*/

.med
  background: #f00
  @media(min-width: 37.5em)
    background: #0f0

.rwd
  background: #800


@media screen and (min-width: 31.25em)
  .rwd
    background: #080

.medpx
  background: #f0f
  @media(min-width: 600px)
    background: #0ff

.rwdpx
  background: #808


@media screen and (min-width: 500px)
  .rwdpx
    background: #088


:target
  color: red
  font-weight: bold


:target::after
  content: "←ココに飛んできたよ"
  padding-left: 5px
  color: #666
  font-weight: normal


.acc
  width: 50px
  background-color: #880
  height: 16px
  transition: 0.5s

.emo
  content: "oiuiouoiuoiu"

.acc:hover
  background-color: #088
  height: 100px

a.modal
  background-color: #088
  height: 20px
  transition: 0.5s
  display: block
  width: 500px

.emo:target .emo
  background-color: #000
  height: 100px

.box
  width: 40px
  box-shadow: 5px 10px 5px 5px rgba(0,0,50,0.3)
  border-radius: 10px
  margin-bottom: 10px

.sec
  linear-gradient(45deg, blue, red)

.li a[href="#"]
  background-color: #eed

.li a[href="#"]:hover
  background-color: #0f0

.li a[href^="http"]
  background-color: #112

.li a[href^="https"]
  background-color: #898

.li:nth-child(2n+0)
  font-weight: bold
