extends layout

block content
  h1= title
  p Welcome to #{title}
  | user pake
  form(method="POST", enctype="multipart/form-data", action="./upload")
    input(type="text", name="word" value="")
    input(type="hidden", name="mode" value="input")
    input(type="file", name="fiile")
    input(type="submit", value="送信")
