extends layout
- var title = "あああ"


block content
  - var testes = "testes"
  p てすと
  p(style="") てすと２
  p(style="")
    てすと３
  // コメントアウト１
  p.aaa てすと４
  // コメントアウト２
  #anokutara sdfsadf
  //
    div#suni.
      <a href="">lin</a>
  h1= title
  // コメントアウト３
  .aaa てすと５
  p= bobbob
  div= testes
  div= obje


