doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="coffee-script/extras/coffee-script.js")
    script(type="text/javascript", src="validator-js/validator.min.js")
    script(type="text/javascript", src="vue/dist/vue.min.js")
    script(type="text/javascript", src="/javascript/upload.js")
    //-
      script(type="text/javascript").
        isPost = "#{postback}"
  body
    h1= title
    p Welcome to #{title}
    
    form#form
      input(type="file" name="fileup" v-model="fileup")
